{% load static %}
<nav
  class="backdrop-blur bg-gray-900/80 border-b border-white/50 sticky top-0 z-50 flex justify-between items-center px-6 py-4">
  <a href="/" class="flex items-center gap-2">
    <img src="{% static 'productos/img/logo.png' %}" alt="TechNova" class="h-10">
  </a>
  <div class="flex items-center gap-6 text-sm">
    {% if user.is_authenticated %}
    <span>Hola, {{ user.username }}</span>
    <a href="{% url 'logout' %}" class="hover:text-white">Cerrar sesión</a>
    {% else %}


    <a href="{% url 'login' %}" class="hover:text-white">Iniciar sesión</a>


    <a href="{% url 'registro' %}" class="hover:text-white">Registrarse</a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'ordenes_vendedor' %}" class="hover:text-white">📦 Pedidos</a>
    <a href="{% url 'ver_carrito' %}" class="hover:text-white">🛒 Carrito</a>
    <a href="{% url 'lista_ordenes' %}" class="hover:text-white">🛍️ Mis compras</a>
    <a href="{% url 'mis_productos' %}" class="hover:text-white">💻 Mis productos</a>
    {% else %}
    <a href="{% url 'login' %}" class="hover:text-white">📦 Pedidos</a>
    <a href="{% url 'login' %}" class="hover:text-white">🛒 Carrito</a>
    <a href="{% url 'login' %}" class="hover:text-white">🛍️ Mis compras</a>
    <a href="{% url 'login' %}" class="hover:text-white">💻 Mis productos</a>
    {% endif %}
  </div>
</nav>